body{
    margin: 0px;
}
.headertop{
    /*position: fixed;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 3rem;
    margin: 0px 0px 0px 0px;
    top: 0px;
    background-color: rgb(126, 214, 137);
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.headertoplogo{
    width: 350px;
    display: flex; 
}
#iniciotitulo{
    margin-left: 4rem;
}
.logoprincipal{
    height: 2rem;
    margin-top: 0.85rem;
}
.tituloprincipal{
    font-family: 'Belgrano';
    font-size: 2.1rem;
    margin-top: 0.5rem;
    margin-right: 0px;
    color: black;
    margin-bottom: 0.4rem;
}
.headercate{
    width: 200px;
    margin-bottom: 0.4rem;
}
.headertopbtns{
    width: 600px;
    display: flex;
    align-content: flex-end;
}
.btnstop{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
}
.btnstop:hover{
    color: white;
}
.spancate{
    color: black;
    font-size: 1.35rem;
}
li a{
    text-decoration: none;
}
